header {
    background-color: #2c3e50;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.offset-9.col-sm-3.border {
    color: #adb5bd;
}

.green {
    background-color: #1abc9c;
}

.circle {
    /* altezza e larghezza date per ora */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* bgk provvisorio */
    background-color: white;
}

.purple {
    background-color: #ba4b63;
}

.heavenly {
    background-color: #1ea4b6;
}

.black {
    background-color: black;
}

.lightblue {
    background-color: #1c83c1;
}

.blue {
    background-color: #0e38b5;
}

.brown {
    background-color: #ccb2a3;
}

.btn_border {
    border: 1px solid white;
    border-radius: 4px;
}

.footer_top {
    background-color: #3a546d;
}

.footer_bottom {
    background-color: #2c3e50;
}

.text_green {
    color: #1abc9c;
}